@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
#header {
    background-color: whitesmoke;
    padding: 10px;
}

/**
* Desktop Navigation
*/

.logo a {
    text-transform: uppercase;
    text-decoration: none;
    color: #8fc04e;
}
.navbar {
    padding: 0;
}
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar li {
    position: relative;
    text-decoration: none;
    margin-right: 70px;
}
.navbar,.change, .navbar .change:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #8fc04e;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
}
.navbar .change i, .navbar .change:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
.navbar .change:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > .change {
    color: #8fc04e;
    text-decoration: none;
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #111111;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}






/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.section-title h2::after {
    content:"";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #8fc04e;
    bottom: 0;
    left: calc(50% - 25px);
}



/*........Home......*/

#home {

    background: url("../Img/pexels-jeffrey-czum-2501965.jpg") no-repeat;
    margin-top: 6%;
    background-size: cover;
    width: 100%;
    height: 550px;
    padding: 30px 0px 20px 0px;
}
#home h1{
    padding-top: 50px;
}

@media (max-width: 768px) {
    #home {
        text-align: center;
        padding-top: 58px;
        background: url("../Img/pexels.jpg");
        background-size: cover;
        width: 100%;
        height: 550px;


    }
    #home h1 {
        font-size: 28px;
    }
    #home h2 {
        font-size: 18px;
        line-height: 24px;
    }
}

.property {
    background: #f3f9fd;
    padding: 20px 0;
    margin-bottom: 100px;

}
.property .col-lg-2 {
    display: flex;
    justify-content: center;
}
.property img {
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    margin-left: 170%;


}
.property img:hover {
    filter: none;
    transform: scale(1.1);
}



.about img {
    height: 700px;
}


.about .box-heading h4{
    font-size: 13px;
    padding: 8px 20px;
    margin: 10px;
    color: #8fc04e;
    text-transform: uppercase;
}
.about .box-heading h3 {
    font-size: 40px;
    margin-bottom: 10px;
}


.counts{
    padding: 10px;
}
.counts .counters span {
    font-size: 20px;
    display: block;
    color: #8fc04e;
}
.about .new-img img{
    height: 340px;
    width: 650px;
}

@media (max-width: 768px) {
.box-heading h4 {
    text-align: center;
  }
.box-heading h3 {
    font-size: 10px;
    text-transform: lowercase;
  }
}


.properties .nav-tab {
    padding: 12px 20px;
    margin: 5px 3px 0px;
    border: 3px solid #5ea51d;
    background-color: #5ea51d;
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.properties .nav-tab.ash{
    border: 3px solid #e0e0e0;
    background-color: #e0e0e0;
    color: #808080;
    font-weight: 700;
}

@media (max-width: 768px) {
.tab-content {
    margin-bottom: 40%;
}

}

.search-property {
    display: block;
    width: 100%;
    border: 0px solid #5ea51d;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 3px 4px 1px rgba(191,191,191,0.75);
    -webkit-box-shadow: 0px 3px 4px 1px rgba(191,191,191,0.75);
    -moz-box-shadow: 0px 3px 4px 1px rgba(191,191,191,0.75);
}
.search-property .col-lg-2{
    width: 20%;
    height: 100px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #e8e8e8;
}
.search-property .form-group{
    width: 100%;
    margin-right: 0;
    padding-left: 20px;
}

.search-property .form-group.button{
    width: 100%;
    margin-right: 0;
    padding-left: 0px;
}


.search-property .col-lg-2.border-none{
    border-right-width: 0px;
    border-right-style: solid;
    border-right-color: #e8e8e8;
}

.search-property .form-group .form-control {
    border: none;
}
.search-property .form-group .form-control.btn{
    background-color: #5ea51d;
    height: 100px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 1px;
}
.search-property .form-group input::placeholder{
    font-weight: 400;
    font-size: 16px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
}

.search-property .form-group label{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #222;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
}
.search-property .form-group .form-field {
    display:flex;
    color: #222222;
}
.search-property .form-group .form-field .fa-solid{
    color: #999999;
    margin-top: 10px;
    padding-right: 0;
}
.properties {
    margin-bottom: 70px;
}


.card {
    width: 100%;
    margin: 15px 10px;
}

.display .card img{
    width: 100%;
}

.list-team .ml-2 {
    font-size: 12px;
    color: red;
    width: 50%;
}

.list-team span {
    width: 50%;
    font-size: 12px;
    color: red;
    text-align: right !important;
}
.location .sale{
    font-size: 10px;
    margin-left: 15px;
    font-weight: 500;
    border-radius: 5px;
    padding: 2px 10px;
    background: red;
    color: white;
}
.location .rent{
    font-size: 10px;
    margin-left: 15px;
    font-weight: 500;
    border-radius: 5px;
    padding: 2px 10px;
    background: #5ea51d;
    color: white;
}
.location i{
    color: #5ea51d;
    width: 20px;
}
.stretched-link {
    text-decoration: none;
    color: gray;
}
.stretched-link:hover{
    text-decoration: none;
    color: gray;
}

.block-27 ul{
    list-style: none;
    margin-bottom: 5%
}
.block-27 li{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border: 2px solid #4f4e4b;
    margin-right: 20px;
}
.block-27 li .next{
    text-decoration: none;
}




/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {


}
.contact .info-box {
    color: #444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
}
.contact .info-box i {
    font-size: 32px;
    color:  #5ea51d;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted  #5ea51d;
}
.contact .info-box h3 {
    font-size: 20px;
    color: #666;
    font-weight: 700;
    margin: 10px 0;
}
.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.contact .email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    margin-bottom: 30px;
}
.contact .email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
.contact .email-form .error-message br + br {
    margin-top: 25px;
}
.contact .email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
.contact .email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
.contact .email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}
.contact .email-form input, .contact .email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}
.contact .email-form input:focus, .contact .email-form textarea:focus {
    background-color:  snow;
}
.contact .email-form input {
    padding: 10px 15px;
}
.contact .email-form textarea {
    padding: 12px 15px;
}
.contact .email-form button[type=submit] {
    background:  #5ea51d;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}
.contact .email-form button[type=submit]:hover {
    background: #1cc4b9;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




@media (max-width: 768px) {
    .card{
        margin: 0 0 5px 100px;
    }

    /*--------------------------------------------------------------
    # Contact
    --------------------------------------------------------------*/
    .contact {
        margin-top: 5%;
    }

    .contact h2{
        font-size: 20px;
    }
    .contact .info-box {
        color: #444;
        text-align: center;
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 10px 0 20px 0;
        margin-bottom: 20px;
    }
    .contact .info-box i {
        font-size: 25px;
    }
    .contact .info-box img{
        width: 50px;
    }
    .contact .info-box h3 {
        font-size: 16px;
    }
    .contact .info-box p {
        font-size: 13px;

    }

    .contact .email-form button[type=submit] {
        margin-top: 20px;
    }

    /*property*/

    .property {
        background: #f3f9fd;
        padding: 40px 0;
        margin-bottom: 50px;

    }
    .property .col-lg-2 {
        display: flex;
        justify-content: center;
    }
    .property img {
        width: 60%;
        margin-left: 5%;
    }
    .property img:hover {
        filter: none;
        transform: scale(1.1);
    }



    /*--------------------------------------------------------------
    # Sections General
    --------------------------------------------------------------*/
    .section-title {
        text-align: center;
        padding-bottom: 30px;
        position: relative;
    }
    .section-title h2 {
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 4px;
        padding-bottom: 10px;
        position: relative;
    }




    /*Properties */
.properties {
    margin-bottom: 0;
}
    .properties .nav-tab {
        padding: 8px 20px;
        margin: 2px 3px 0px;
        border: 3px solid #5ea51d;
        background-color: #5ea51d;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
    }

    .properties .nav-tab.ash{
        border: 3px solid #e0e0e0;
        background-color: #e0e0e0;
        color: #808080;
        font-weight: 600;
    }



    .search-property {
        display: block;
        width: auto;
        border: 0px solid #5ea51d;
        height: 144px;
        font-family: 'Roboto', sans-serif;
        padding-left: 0;
        margin: 0;

        box-shadow: 0px 3px 4px 1px rgba(191,191,191,0.75);
        -webkit-box-shadow: 0px 3px 4px 1px rgba(191,191,191,0.75);
        -moz-box-shadow: 0px 3px 4px 1px rgba(191,191,191,0.75);

    }
    .search-property .col-lg-2{
        width: 50%;
       padding: 0 0 0 11px;
        margin: 0;
        height: 70px;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #e8e8e8;

    }
    .search-property .form-group{
        width: 100%;
        margin-right: 0;
    }

    .search-property .col-lg-2.border-none{
        padding: 0 0 0 11px;
        margin: 0;
        height: 75px;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #e8e8e8;
        height: 75px;

    }

    .search-property .form-group.button{
        width: 100%;
        margin-right: 0;
        padding-left: 0px;
        padding-right: 0;
        height: 75px;
    }

    .search-property .form-group .form-control {
        border: none;
        margin: 0;
        padding: 0;
        width: 85%;
    }
    .search-property .form-group .form-control.btn{
        background-color: #5ea51d;
        height: 70px;
        margin-top: 0;
        padding-top: 0;
        font-size: 12px;
        border-radius: 0;
        text-transform: uppercase;
        font-weight: 700;
        color: #ffffff;
        width: 100%;
        letter-spacing: 1px;
    }
    .search-property .form-group input::placeholder{
        font-weight: 400;
        font-size: 11px;
        color: #999999;
        margin: 0;
        padding: 0;

        font-family: 'Roboto', sans-serif;
    }

    .search-property .form-group label{
        padding-top: 5px;
        margin-top: 10px;
        font-size: 11px;
        font-weight: 700;
        padding-right: 0;

        color: #222;
        text-transform: uppercase;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .search-property .form-group .form-field {
        padding-top: 0;
        margin-top: 0;
        display:flex;
        color: #222222;
    }
    .search-property .form-group .form-field .fa-solid{
        color: #999999;
        margin-top: 5px;
        padding-right: 5px;
        padding-left: 0;
        margin-left: 0;
        font-size: 12px;
    }

    .display{
        margin-top: 0;
    }

    .card {
        width: 100%;
        margin: 15px 5px;
    }

    .display .card img{
        width: 100%;
    }

    .list-team .ml-2 {
        font-size: 12px;
        color: red;
        width: 50%;
    }

    .list-team span {
        width: 50%;
        font-size: 12px;
        color: red;
        text-align: right !important;
    }
    .location .sale{
        font-size: 10px;
        margin-left: 15px;
        font-weight: 500;
        border-radius: 5px;
        padding: 2px 10px;
        background: red;
        color: white;
    }
    .location .rent{
        font-size: 10px;
        margin-left: 15px;
        font-weight: 500;
        border-radius: 5px;
        padding: 2px 10px;
        background: #5ea51d;
        color: white;
    }
    .location{
        font-size: 14px;
    }
    .location i{
        color: #5ea51d;
        width: 20px;
    }
    .stretched-link {
        text-decoration: none;
        color: gray;
        font-size: 17px;
        font-weight: 600;
    }
    .stretched-link:hover{
        text-decoration: none;
        color: gray;
    }

    .block-27 ul{
        list-style: none;
        margin-bottom: 5%
    }
    .block-27 li{
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        border: 2px solid #4f4e4b;
        margin-right: 20px;
    }
    .block-27 li .next{
        text-decoration: none;
    }




    /* about section */



    .about img {
        width: 95%;
        height: 400px;
    }


    .about .box-heading h4{
        font-size: 18px;
        padding: 8px 10px;
        margin: 5px;
        color: #8fc04e;
        font-weight: 600;
        text-transform: uppercase;
    }
    .about .box-heading h3 {
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .about p{
        font-size: 14px;
    }

    .counts{
        padding: 5px 10px;
    }
    .counts p{
        font-size: 14px;
    }
    .counts .counters span {
        font-size: 20px;
        font-weight: 600;
        display: block;
        color: #8fc04e;
    }
    .about .new-img img{
        height: 280px;
        width: 100%;
    }





}
