
.page-wrapper {
    overflow: hidden;
    position: relative
}
.full-row {
    position: relative;
    width: 100%;
    padding: 80px 0;
}

.top-bar {
    position: relative;
    width: 100%;
    padding: 80px 0;
    background: #8fc04e;
}
.dropdown-toggle{
    background: #8fc04e;
    border: #8fc04e;
}
.dropdown-toggle:hover {
    background: white;
    color: #8fc04e;
}

.collapse-dashboard {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-top-left h4 {
    margin-bottom: 2px;
    line-height: 25px;
    font-size: 34px;
    color: white;
}
.dashboard-sidebar {
    background: #8fc04e;
}
.text25 {
    color: white;
    font-size: 20px;
}
.dashboard-sidebar ul li{
    list-style-type: none;
}
.dashboard-sidebar ul li a {
    padding: 10px 0px 10px 5px;
    display: flex;
    position: relative;
    margin-bottom: 1px;
    text-decoration: none;
    color: white;


}
.dashboard-sidebar ul li.active a::before {
    position: absolute;
    content: "";
    top: 12px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #7d7d7d;
    border-bottom: 10px solid transparent;
}
.dashboard-sidebar ul li a:hover,
.dashboard-sidebar ul li.active a {
    background: white;
    color: #8fc04e;

}

.dashboard-panel {
    padding: 60px 40px;
    overflow-x: scroll
}
.dashboard-panel .success {
    border-left: 5px solid;
    border-left-color: #67c339;
    border-radius: 0
}
.dashboard-panel .success.alert {
    border-left-color: #f46868;
}
.dashboard-panel .success .closebtn {
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.panel-accordian::after {
    content: "\f107";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: inherit;
    font-size: 12px;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ball1{
    background: #dc69f1;
    color: white;
}
.ball2{
    background: #f1c643;
    color: white;
}
.ball3{
    background: #ee6565;
    color: white;
}

